GRAPHQL_ENDPOINT=http://localhost:8083/graphql
SUN_CLIENT_ID=
SUN_CLIENT_SECRET=
OPENAI_API_KEY=
OPENAI_BASE_URL=https://opencode.ai/zen/go/v1/responses
OPENAI_MODEL=opencode-go/muse-spark-1.2-contributor
SUN_USERNAME=
SUN_PASSWORD=